.root{
    -fx-background-color: #D2B48C;
}
.button{
    -fx-background-color: #A0522D;
}
.textField {
    -fx-background-color: #ffe4b5;
}
.tableColumnCol {
    -fx-background-color: #cca776;
   /* -fx-alignment: CENTER;
    */
}

